ul.description {
  text-align: right;
  direction: rtl;

  li {
    color: $color-darker;
  }
}

a.link {
  text-decoration: none;
  color: $color-secondary;

  &:hover {
    color: $color-secondary-darker;
  }
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width: 58px;
  }
}