{
  "semi": false,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 120,
        "singleQuote": true,
        "useTabs": false,
        "tabWidth": 2,
        "semi": true,
        "bracketSpacing": true
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 120,
        "singleQuote": true,
        "useTabs": false,
        "tabWidth": 2,
        "semi": true,
        "bracketSpacing": true
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "useTabs": false,
        "tabWidth": 4,
        "semi": true
      }
    }
  ]
}
