<html>
<head>
  <meta charset="UTF-8">
  <title>خطا!</title>  
  <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://service.rialpayment.ir/assets/css/error-style.css">
</head>
<body>
   <div class="main">
   <div class="container">
      <div class="text-container">
         <span></span>
         <h1>خطا</h1>
         <p>توکن معتبر نمی باشد
         </p>
      </div>
   </div>
</div>
 
</body>
</html>
