<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="http://localhost:3005/authorize/css/argon.css" rel="stylesheet">
  <link href="http://localhost:3005/authorize/css/style.css" rel="stylesheet">
  <title>سامانه احراز هویت ریال پیمنت</title>
</head>
<body>
  <div class="alert alert-primary alert-dismissible fade show" role="alert" style="text-align: center;">
    <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
    <span class="alert-inner--text" >درخواست نامعتبر</span>
</div>
</body>
</html>
