<html>
    <head>
        <title>ریال پیمنت</title>
    </head>
    <body onload="postRefId">
        <% if (status == true) { %>
            <script>
                window.onload = function postRefId(refIdValue) {
                    var form = document.createElement("form");
                    form.setAttribute("method", "POST");
                    form.setAttribute("action", "https://mabna.shaparak.ir:8080/Pay");
                    form.setAttribute("target", "_self");
                    var terminalField = document.createElement("input");
                    terminalField.setAttribute("name", "TerminalID");
                    terminalField.setAttribute("value", "61000660");
                    form.appendChild(terminalField);
                    var amountField = document.createElement("input");
                    amountField.setAttribute("name", "Amount");
                    amountField.setAttribute("value", "<%= amount %>");
                    form.appendChild(amountField);
                    var callbackField = document.createElement("input");
                    callbackField.setAttribute("name", "callbackURL");
                    callbackField.setAttribute("value", "https://service.rialpayment.ir/callback");
                    form.appendChild(callbackField);
                    var invoiceField = document.createElement("input");
                    invoiceField.setAttribute("name", "InvoiceID");
                    invoiceField.setAttribute("value", "<%= invoiceid %>");
                    form.appendChild(invoiceField);
                    var payloadField = document.createElement("input");
                    payloadField.setAttribute("name", "Payload");
                    payloadField.setAttribute("value", "");
                    form.appendChild(payloadField);
                    document.body.appendChild(form);
                    form.submit();
                    document.body.removeChild(form);
                  }
                  </script>
        <% } else { %>
            ترمینال ناشناخته
        <% } %>
    </body>
</html>
